.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: #191975/*linear-gradient(180deg, #3e3e76, #111132)*/;
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin-left: 95px;
        margin-right: 95px;
        margin-top: 80px;

        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2{
                font-size: 80px;
                color: rgb(205, 184, 227);
            }

            h1{
                font-size: 40px;
                font-weight: 300;
                color: white;
            }

            button{
                padding: 20px;
                border: 1px solid rgb(205, 184, 227);;
                border-radius: 10px;
                background-color: transparent;
                color: rgb(205, 184, 227);;
                margin-right: 10px;
                cursor: pointer;
                font-weight: 400;
            }
        }
    }
}