.contact{
    background: #191975;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer{
        flex: 1;
        align-self: center;
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 200;
        margin-top: 40px;
        text-align: center;
        color: rgb(205, 184, 227);

        .title{

            h1{
                font-size: 70px;
                font-weight: 100;
                margin-bottom: 10px;
            }

            h2{
                margin-bottom: 20px;
                color: rgb(205, 184, 227);
            }

            h3{
                margin-bottom: 10px;
                color: rgb(205, 184, 227);
            }
        }
        
    }
}