html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif //"DM SANS", sans-serif;
}

body{
    background-color:#191975;
    color: lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}